{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Complaints</title>
</head>
<body>
    <h1>User Complaints</h1>
    <button onclick="location.href='{% url 'upload_complain' %}'">Submit New Complaint</button>
    <ol>
        {% for complaint in complaints %}
            <li onclick="location.href='{% url 'complain_detail' complaint.id %}'" style="cursor:pointer;">
                <div class="glass-card">
                    <span style="color: {% if complaint.priority == 'High' %}red{% elif complaint.priority == 'Medium' %}orange{% else %}green{% endif %}">
                        {{ complaint.category }} ({{ complaint.priority }})
                    </span>
                    <span><b>{{ complaint.issue_description }}</b></span>
                </div>
            </li>
        {% empty %}
            <p>No complaints found.</p>
        {% endfor %}
    </ol>
</body>
</html>
